<mat-toolbar color="primary">
    <mat-toolbar-row><span [routerLink]="''" class='homeSpan'><i class="material-icons">
                fastfood
            </i> Fast Food App</span>
        <span class="spacer"></span>
        <button mat-stroked-button [routerLink]="'/register'" *ngIf='!isLoggedIn()'>
            Register
        </button>
        <button mat-stroked-button [routerLink]="'/login'" *ngIf='!isLoggedIn()'>
            Login
            <i class="material-icons">
                perm_identity
            </i>
        </button>
        <button mat-stroked-button (click)="openFavorites()" *ngIf='isLoggedIn()'>
            Favorite restaurants <i class="material-icons">
                star
            </i>
        </button>
        <button mat-stroked-button [routerLink]="'/cart'" *ngIf='isLoggedIn()'>
            Cart <i class="material-icons">
                shopping_cart
            </i>
        </button>
        <button mat-stroked-button [routerLink]="'/profile'" *ngIf='isLoggedIn()'>
            Profile <i class="material-icons">
                perm_identity
            </i>
        </button>
        <button mat-stroked-button (click)='logout()' *ngIf='isLoggedIn()'>
            Logout
        </button>
    </mat-toolbar-row>

</mat-toolbar>