<div class="homeWrapper">
    <h2>Restaurants</h2>
    <mat-card *ngFor="let restaurant of listOfRestaurants">
        <mat-card-header>
            <mat-card-title [routerLink]="['/category', restaurant.id]">
                {{restaurant.restaurantName}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p> Location: {{restaurant.location}}<br>
                Description: {{restaurant.restauranDescription}}</p>
        </mat-card-content>
        <mat-card-actions>
            Add to favorite <i class="material-icons">
                star_border
            </i>
        </mat-card-actions>
    </mat-card>

</div>