<div class="cartWrapper">
    <h2>Items to order</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.foodName}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="removeOrder">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-stroked-button>
                    Cart <i class="material-icons">
                        remove_circle_outline
                    </i>
                </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-raised-button (click)='checkOrders(element)'>
        Submit order
    </button>
    <button mat-raised-button (click)='checkOrders(element)'>
        Cancel order
    </button>
</div>