.cartWrapper{
    width:60%;
    margin: auto;
    text-align: center;
}
table.mat-table{
    margin:auto;
    width: 50%;
    margin-bottom: 2%;
}

.mat-raised-button{
    margin-left: 1%
}

table td {
    text-align: left;
}