<div class="homeWrapper">
    <h3>Restaurants</h3>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Restaurant Name
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            some content here
        </mat-card-content>
        <mat-card-actions>
            Add to favorite <i class="material-icons">
                star_border
            </i>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Restaurant Name
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            some content here
        </mat-card-content>
        <mat-card-actions>
            Add to favorite <i class="material-icons">
                star_border
            </i>
        </mat-card-actions>
    </mat-card>
</div>