<div class="resturantCategoriesWrapper">
    <h3>Categories</h3>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Restaurant Name
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            some content here
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Restaurant Name
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            some content here
        </mat-card-content>
    </mat-card>
</div>