.resturantCategoriesWrapper{
    width:50%;
    text-align: center;
    margin: auto;
}
mat-card{
    float: center;
    width: 90% !important;
    max-width: 100%;
    margin: 2.5%;
}
mat-card-title:hover{
    cursor: pointer;
}
