<mat-toolbar color="primary">
    <mat-toolbar-row><span><i class="material-icons">
            fastfood
            </i> Fast Food App</span>
            <span class="spacer"></span>
            <button mat-stroked-button [routerLink]="'/register'">
                    Register
                </button>
            <button mat-stroked-button [routerLink]="'/login'">
                Login
                    <i class="material-icons">
                            perm_identity
                            </i>
            </button>
    </mat-toolbar-row>
</mat-toolbar>
